name: Build Reusable
on:
  workflow_call:
    inputs:
      push-cache:
        description: "Whether or not to push the updated cache"
        type: boolean
        default: false

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Determine tag
        id: tag
        run: |
          TAG=$(make show-tag)
          echo "tag=$TAG" >> $GITHUB_OUTPUT
      - name: Determine cache image
        id: cache_image
        run: |
          TAG=$(make show-cache-image)
          VERSIONED=$(make show-cache-versioned)
          echo "tag=$TAG" >> $GITHUB_OUTPUT
          echo "versioned=$VERSIONED" >> $GITHUB_OUTPUT
      - name: Move Docker storage to ephemeral disk
        run: |
          sudo systemctl stop docker
          sudo mkdir -p /mnt/var/lib
          sudo mv /var/lib/docker /mnt/var/lib/docker
          sudo ln -s /mnt/var/lib/docker /var/lib/docker
          sudo systemctl start docker
      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@v3
        with:
          buildkitd-flags: '--allow-insecure-entitlement security.insecure'
          driver: docker-container
          install: true
      - name: Build in docker
        uses: docker/build-push-action@v6
        with:
          push: false
          builder: ${{ steps.buildx.outputs.name }}
          tags: ${{ steps.tag.outputs.tag }}
          allow: security.insecure
          build-args: |
            CACHE_IMAGE=${{ steps.cache_image.outputs.tag }}
      - name: Check clean before pushing
        run: |
          make show-clean
      - name: GHCR Login
        uses: docker/login-action@v3
        if: ${{ inputs.push-cache }}
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Build and push updated cache
        uses: docker/build-push-action@v6
        if: ${{ inputs.push-cache }}
        with:
          push: true
          builder: ${{ steps.buildx.outputs.name }}
          tags: |
            ${{ steps.cache_image.outputs.tag }}
            ${{ steps.cache_image.outputs.versioned }}
          target: artifact-pushed
          allow: security.insecure
          build-args: |
            CACHE_IMAGE=${{ steps.cache_image.outputs.tag }}
