name: Build
on:
  #push:
  #  branches:
  #    - main
  #pull_request:
  #  branches:
  #    - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      CASD_CACHE: /mnt/casd-cache
    steps:
      - uses: actions/checkout@v4
      - name: Determine tag
        id: tag
        run: |
          TAG=$(make show-tag)
          echo "tag=$TAG" >> $GITHUB_OUTPUT
      - name: Move Docker storage to ephemeral disk
        run: |
          sudo systemctl stop docker
          sudo mkdir -p /mnt/var/lib
          sudo mv /var/lib/docker /mnt/var/lib/docker
          sudo ln -s /mnt/var/lib/docker /var/lib/docker
          sudo systemctl start docker
      - name: Prepare CAS cache directory
        run: |
          mkdir -p ${{ env.CASD_CACHE }}
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
        with:
          buildkitd-flags: '--allow-insecure-entitlement security.insecure'
      - name: Extract CAS cache image
        run: |
          make cache CACHE_DIR="${{ env.CASD_CACHE }}"
      - name: Build in docker
        uses: docker/build-push-action@v6
        with:
          push: false
          tags: ${{ steps.tag.outputs.tag }}
          allow: security.insecure
          build-args: |
            CACHE_SRC=${{ env.CASD_CACHE }}
