name: Build Main
on:
  push:
    branches:
      - main
  workflow_dispatch:

permissions:
  contents: read
  packages: write

jobs:
  build:
    uses: ./.github/workflows/build-reusable.yaml
    permissions:
      contents: read
      packages: write
    with:
      push-cache: true
